:root {
  --blue: rgb(118, 222, 240);
  --gray: rgb(22, 22, 22);;
  --cream: rgb(242, 243, 243, 0.6);
}

html {
  font-family: 'Zekton';
  background-color: var(--gray);
  background-image: url(backgrounds/BookHer_BG_Large.png);

  background-repeat: no-repeat;
  background-position: center; 
}


body {
  margin: 0;
  /* font-family: 'ZektonRg-Regular', 'Segoe UI', 'Roboto', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

main {
  margin: 1rem;
  place-items: center;
  padding: 100px;
  
}
/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--blue);
  color: var(--gray);
  background-image: url(backgrounds/BookHer_Banner_1.png);
  height: 120px;
}

header a,
header button {
  font-size: 1rem;
  display: inline-block;
  background-color: var(--gray);
  border: 1px solid var(--blue);
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: var(--cream);
  cursor: pointer;
  border-radius: 20px;
}

#login {
  background-image: url(words/Login.png);
  background-size: 150px 50px;
  background-repeat: no-repeat;
  width: 120px;
  height: 20px;
}

#signup {
  background-image: url(words/Signup.png);
  background-size: 150px 50px;
  background-repeat: no-repeat;
  width: 120px;
  height: 20px;
}

#logout {
  background-image: url(words/Logout.png);
  background-size: 150px 50px;
  background-repeat: no-repeat;
  background-position: center;
  width: 120px;
  height: 20px;
}

#projects {
  background-image: url(words/Projects.png);
  background-size: 150px 50px;
  background-repeat: no-repeat;
  width: 120px;
  height: 20px;
}

#new-project {
  background-image: url(words/New.png);
  background-size: 150px 50px;
  background-repeat: no-repeat;
  width: 120px;
  height: 20px;
}



/* Login/Signup */


.login-form {
  place-self: center;
  margin: auto;
  text-align: center;
  padding: 150px 0;
  color: var(--gray);
  opacity: 0.75;
}

.signup-form {
  place-self: center;
  margin: auto;
  text-align: center;
  padding: 150px 0;
  opacity: 0.75;
}

/* Model Cards */


.models-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: minmax(20rem, 50rem);
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: 1fr 1fr;
  
}

section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.model-card {
  grid-row: 2;
  background-color: var(--cream);
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#book {
  width: 18rem;
  background-image: url(words/Book.png);
  background-size: 200px 50px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#fire {
  width: 18rem;
  background-image: url(words/Fire.png);
  background-size: 200px 50px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}


.model-card img {
  height: 20rem;
  width: 18rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}

/* Body */


#choose-models {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
}

.welcome {
  color: var(--blue);
  justify-content: flex-start;
}


#budget {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(words/Budget.png);
  background-size: 100px 40px;
  background-position: center;
  background-repeat: no-repeat;
  font-size: large;
  font-weight: bold;
  color: var(--blue);
  width: 150px;
  height: 60px;
  padding: 1px;
  margin-left: 100px;
  margin-top: 100px;
}

#more {
  background-image: url(words/Models.png);
  background-size: 200px 40px;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  cursor: pointer;
  margin-top: 350px;
  margin-left: 250px;
}

#question {
  background-color: var(--cream);
  height: 250px;
  width: 350px;
  padding: 3px;
  text-align: center;
}

form {
  background-color: var(--cream);
  border: 1px solid var(--blue);
  color: var(--gray);
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  padding: 0 1rem 1rem;
  /* grid-row: 1; */
  /* opacity: 0.5; */
  text-align: center;
  place-self: center;
  border-radius: 20px;
}

form input {
  margin: 0.25rem 0;
  border: 1px solid var(--blue);
  height: 30px;
  text-align: center;
  border-radius: 20px;
}

form input[type="submit"] {
  width: 40%;
  /* height: 40px; */
  background-color: var(--gray);
  color: var(--cream);
  align-self: center;
}

form select {
  margin: 0.25rem 0;
  border: 1px solid var(--blue);
  color: var(--gray);
  border-radius: 20px;
}


form img {
  width: 150px;
}

form.single-question {
  width: 15rem;
  place-items: center;
}

form.single-question input{
  width: 80%;
}

form.single-question label{
  color: var(--gray);
}

button {
  background-color: var(--gray);
  color: var(--cream);
  width: 6rem;
  height: 3rem;
  border: 1px solid var(--blue);
  padding: 1rem 1rem;
  cursor: pointer;
  border-radius: 25px;
}

button:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.modal {
  font-size: 12px;
  border-radius: 20px;
  /* background-color: var(--cream); */
}
.modal > .header {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid gray;
  font-size: 25px;
  text-align: center;
  padding: 5px;
  background-image: url(words/Alert.png);
  background-size: 150px 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--gray)

}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
  font-size: 20px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
/* .modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 20px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
  color: var(--gray);
  height: 2rem;
  width: 2rem;
} */

#monster-keep {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-image: url(words/Keep.png);
  background-size: 150px 50px;
  background-repeat: no-repeat;
  background-position: center;
  width: 220px;
  height: 40px;
  color: var(--blue);
}

#monster-fire {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  align-content: flex-end;
  background-image: url(words/Fire.png);
  background-size: 150px 50px;
  background-repeat: no-repeat;
  background-position: center;
  width: 220px;
  height: 40px;
  color: var(--blue);
  
}

ul {
  list-style: none;
}



.project-container {
  display: inline-block;
  display: grid;
  background-color: var(--cream);
  align-items: center;
  grid-template-rows: 50px 50px;
}