:root {
  --blue: rgb(118, 201, 240);
  --dark-blue: rgb(6, 34, 94);;
  --cream: rgb(242, 243, 243);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--blue);
  color: var(--dark-blue)
}

header a,
header button {
  font-size: 1rem;
  display: inline-block;
  background-color: var(--dark-blue);
  border: 1px solid var(--blue);
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: var(--cream);
  cursor: pointer;
}

section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


/* main {
  margin: 1rem;
  grid-template-rows: 1fr 1fr;
} */


.model-card {
  grid-row: 2;
}

.model-card img {
  height: 20rem;
  width: 18rem;

}

.project-container {
  display: inline-block;
  display: grid;
  background-color: var(--cream);
  align-items: center;
}

.models-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 50rem));
  grid-template-rows: 1fr 1fr;
  background-color: var(--cream);
}

#budget {
  grid-column: 3;
  grid-row: 1;
  font-size: larger;
  font-weight: bold;
}

#question {
  grid-column: 2;
  grid-row: 1;
}

form {
  background-color: var(--cream);
  border: 1px solid var(--blue);
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  padding: 0 1rem 1rem;
  color: var(--dark-blue);
  grid-row: 1;
}

form input {
  margin: 0.25rem 0;
  border: 1px solid var(--blue);
}

form input[type="submit"] {
  width: 40%;
  background-color: var(--dark-blue);
  color: var(--cream);
}

form select {
  margin: 0.25rem 0;
  border: 1px solid var(--blue);
  color: var(--dark-blue);
}


form img {
  width: 150px;
}

form.single-question {
  width: 15rem;
  place-items: center;
}

form.single-question input{
  width: 80%;
}

form.single-question label{
  color: var(--dark-blue);
}

button {
  background-color: var(--dark-blue);
  color: var(--cream);
  width: 6rem;
  height: 3rem;
  border: 1px solid var(--blue);
  padding: 1rem 1rem;

}


.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 25px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
  font-size: 20px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 20px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
  color: var(--dark-blue);
  height: 2rem;
  width: 2rem;
}

ul {
  list-style: none;
}